[submodule "extern/gtest"]
	path = extern/gtest
	url = git@git.enflame.cn:era-dev/googletest.git
	ignore = dirty
[submodule "extern/cutlass"]
	path = extern/cutlass
	url = git@git.enflame.cn:era-dev/cutlass.git
	branch = v4.2.1
